.widget_inf {
  background-color: rgba(15, 01, 19, 0.1); 
  padding: 4px;
  border-radius: 6px;
}


//////////////////////////////////
////    widget_inf_system     ////
//////////////////////////////////


// Definir una variable de color
$color_01: rgba(29, 29, 29, 0.4);  
$color_02: rgba(255, 255, 231); 


.box-inf-system_00 {
  background: rgba(29, 29, 29, 0);
  border-radius: 5px;
  padding: 0px;
}

.box-inf-system_01 {
  background-color: $color_01; 
  border-radius: 5px;
  padding: 0px;
  min-width: 60px;
}

.box-inf-system_02 {
  background-color: $color_01; 
  border-radius: 5px;
  padding: 0px;
  min-width: 90px;
}


.box-inf-system_03 {
  background-color: $color_01; 
  border-radius: 5px;
  padding: 0px;
  min-width: 130px;
}

.glass_button {
  background: rgba(29, 29, 29, 0);
  box-shadow: none;
  border: none;
  border-color: #FFFFFF;
  padding: 0;
  font-size: 20px;
  color: #00CCDE;
}

.glass_box {
  background: rgba(255, 39, 23, 0);
  border-radius: 5px;
  padding: 5px;
}


.battery-label {
  font-size: 14px;
  color: $color_02;
  font-family: "Inconsolata NF";
}

.ram-label {
  font-size: 14px;
  color: $color_02;
  font-family: "Inconsolata NF";
}

.CPU-label {
  font-size: 14px;
  color: $color_02;
  font-family: "Inconsolata NF";
}

.time-label{
  font-size: 10px;
  color: $color_02;
  font-family: "frank";
}

.day-label{
  font-size: 10px;
  color: $color_02;
  font-family: "frank";
}

.calendar-label{
  font-size: 10px;
  color: $color_02;
  font-family: "frank";
}

.power-label {
  font-size: 15px;
  color: $color_02;
  font-family: "3270 Nerd Font";
  // font-family: "Inconsolata NF";
}

.app-label {
  font-size: 15px;
  color: $color_02;
  font-family: "3270 Nerd Font";
  // font-family: "Inconsolata NF";
}

//////////////////////////////////
////-----View_workspaces------////
//////////////////////////////////

.desk-box_01 {
  background-color: rgba(29, 29, 29, 0); 
  padding: 8px;
  border-radius: 10px; 
}

.desk-test {
  font-size: 17px;
  color: rgba(29, 29, 29);
  font-family: "Inconsolata NF";
}


//////////////////////////////////
////-----View_Separator-------////
//////////////////////////////////

.separator-text {
  font-size: 15px;
  color: #e2e2e2;
  font-family: "Inconsolata NF";
}


