.adjutora-icon-glass{
  background-color: rgba(15, 01, 19, 0);
  border-radius: 10px;
  padding: 0px;
}

.gif-container_00 {
  background-color: rgba(29, 29, 29, 0.2);
  border-radius: 10px;
  padding: 5px;
}

.gif-container_01 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  padding: 3px;
  border: 5px double #2e2e2e;
  // border: 2px dashed #2e2e2e;
}
