.adjutora-icon-glass{
  background-color: rgba(15, 01, 19, 0);
  border-radius: 10px;
  padding: 0px;
}

.glass_button {
  background: rgba(29, 29, 29, 0);
  box-shadow: none;
  border: none;
  border-color: #FFFFFF;
  padding: 0;
  font-size: 20px;
  color: #00CCDE;
}

.gif-container_00 {
  // background-color: rgba(29, 29, 29, 0.2);
  background-color: rgba(0, 36, 36, 0.2);
  border-radius: 10px;
  padding: 5px;
}

.gif-container_01 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  padding: 3px;
  border: 5px double #2e2e2e;
  // border: 2px dashed #2e2e2e;
}


// - none — Sin borde.
// - solid — Línea sólida (normal).
// - dashed — Línea discontinua (rayada).
// - dotted — Línea punteada.
// - double — Doble línea (como en tu ejemplo).
// - groove — Borde con efecto de ranura (con relieve).
// - ridge — Borde con efecto de cresta (inverso a groove).
// - inset — Borde en relieve hacia adentro (efecto hundido).
// - outset — Borde en relieve hacia afuera (efecto sobresaliente).



